@using CyberSoftDataCenter.Models

@model CyberSoftDataCenter.Models.Pubs

@{
    ViewData["Title"] = "Edit";
}

<h2>Editer un contrat</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Pubs</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PubsId" />
        <div class="form-group">
            <label asp-for="Client" class="col-md-2 control-label"></label>
           <div class="col-md-5">
                <input asp-for="Client" class="form-control" />
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Format" class="col-md-2 control-label"></label>
           <div class="col-md-5">
                <select asp-for="Format" asp-items="Html.GetEnumSelectList<FormatPub>()" class="form-control"></select>
                <span asp-validation-for="Format" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateCreaton" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <div class="input-group date" id="DateCreatonC" name="DateCreatonC">
                    <input type="text" id="DateCreaton" name="DateCreaton" class="form-control" value="@ViewBag.DateDebut">
                    <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-calendar "></i></a></span>
                </div>
                <span asp-validation-for="DateCreaton" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FinContrat" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <div class="input-group date" id="FinContratC" name="FinContratC">
                    <input type="text" id="FinContrat" name="FinContrat" class="form-control" value="@ViewBag.DateDebut">
                    <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-calendar "></i></a></span>
                </div>
                <span asp-validation-for="FinContrat" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <span class="btn btn-default btn-file">
                    Parcourir... <input type="file" id="Fichier" name="Fichier">
                </span>
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label hidden"></label>
           <div class="col-md-5">
                <input type="hidden" asp-for="Url" class="form-control"  />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Statut" />
                    <label asp-for="Statut"></label>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">

                <a class="btn btn-default" asp-action="Index">Fermer</a>
                <input type="submit" value="@ViewBag.button" class="btn btn-info" />
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
        $('#DateCreatonC').datepicker({
        language: "fr",
        autoclose: true
    });


        $('#FinContratC').datepicker({
        language: "fr",
        autoclose: true
    });


    </script>

}