@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    Nimbra Technical Solutions Ltd<br />
    207 Regent Floor, London UK W1B 3HH Company N° 09538764<br />
    <abbr title="Phone">P:</abbr>
    +33 6.52.77.45.98 CI+225 79.31.46.56
       
</address>

<address>
    <strong>Support:</strong> <a href="mailto:infos@www.cyber-soft.uk ">infos@www.cyber-soft.uk</a><br />
    <strong>Marketing:</strong> <a href="mailto:papanas@www.cyber-soft.uk ">papanas@www.cyber-soft.uk </a>
</address>
